<nav class="navbar navbar-dark bg-dark" style="color: whitesmoke">
  <h1>{{title}}</h1>
  <!-- Navbar content -->
</nav>
<div *ngIf="portfolios && portfolios.length > 0"
     class="card-columns m-3">
  <div *ngFor="let portfolio of portfolios"
       class="card bg-info">
    <div class="card-header border-success text-white">
      <h4 class="card-title">{{portfolio.name | uppercase}}</h4>
    </div>
    <ul class="list-group m-1"
        *ngFor="let line of getLinesByPortfolioId(portfolio.id)">
      <li class="list-group-item">
        <h5>{{getCoinByCoinId(line.coinId).name}}</h5>
        <p>Amount: {{line.amount}} ({{getCoinByCoinId(line.coinId).acronym}})</p>
        <p>Current value: {{getValueByAmountAndCoin(line.amount, getCoinByCoinId(line.coinId)) | currency: 'EUR'}}</p>
      </li>
    </ul>
  </div>
</div>

